body {
  font-family: Georgia, "Times New Roman", serif;
  max-width: 700px;
  margin: 4rem auto;
  line-height: 1.6;
  color: #111;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
